// .dash-body{
//   background-color: #F3F2F7;
//   width: 100%;
//   height: 100vh;
// }

.vert-nav{
  background-color: #714B67;
  width: 8%;
  height: 100vh;
  position: fixed;
  scrollbar-color: #714B67 #714B67;
  scrollbar-width: thin;
}

.date-container{
  float: right;
  margin-right: 15px;
  border: solid;
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
  border-width: thin;
  border-color: #D9D9D9;
  cursor: pointer;
}

.mat-icon{
  font-size: 18px;

  ::ng-deep .mat-badge-content {
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 9px;
    right: 1px !important;
    top: -6px !important;
  }

}

.user-icon{
  height: 100%;
}

.user{
  margin-left: 1px;
  margin-bottom: 1px;
}

.user-container{
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 100px;
  float: right;
}

.user-inner-container{
  width: 38px;
  height: 38px;
  background-color: #d03602;
  border-radius: 100px;
}

.info-container{
  width: 38px;
  height: 38px;
  background-color: #FFF4E8;
  border-radius: 100px;
  float: right;
}
.info1-container{
  width: 38px;
  height: 38px;
  background-color: #ECFFF2;
  border-radius: 100px;
  float: right;
}
.info2-container{
  width: 38px;
  height: 38px;
  background-color: #F9EFFF;
  border-radius: 100px;
  float: right;
}
.info3-container{
  width: 38px;
  height: 38px;
  background-color: #FFF4E8;
  border-radius: 100px;
  float: right;
}
.info4-container{
  width: 38px;
  height: 38px;
  background-color: #E8F5FF;
  border-radius: 100px;
  float: right;
}

.nav-select{
  padding: 8px;
  border-radius: 6px;
  background-color: #714b67;
  text-align: center;
  margin-top: 5px;
}

.nav-select:hover {
  padding: 8px;
  border-radius: 6px;
  background-color: #896981;
  cursor: pointer;
}


.nav-title{
  color: #ffffff;
  font-size: 10px;
  font-weight:400;
  margin-bottom: 0px;
  line-height: 16px !important;
}

.nav-icon{

  margin-bottom: 10px;
}

.data-cards{
  height: 140px;
}

.data-bar-card{
  height: 360px;
}

.mat-mdc-card {
  box-shadow: none;
}
