/* You can add global styles to this file, and also import other style files */
//Imported Bootstrap
@import "bootstrap/scss/bootstrap";

html, body { height: 100%; }
body { background-color: #F3F2F7 !important; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
